{% extends 'base.html' %}
{% block content %}
    <div class="ui container text" style="max-width: 300px !important;">
        <h1 style="text-align: center">Sign in to WebVita</h1>
        <div id="login-messages"></div>
        <div class="ui segment">
            <form method="POST" action="/api/sessions" class="ui form" onsubmit="AjaxSendForm(event, HandleLoginAttempt)">
                {% include 'forms/accounts/login.html'%}
                <div class="field">
                    <button class="ui fluid green button">Sign In</button>
                </div>
            </form>
        </div>

        <div class="ui divider" style="margin: 40px 0"></div>

        <div class="ui segment">
            <h3 style="text-align: center">New to WebVita?</h3>
            <a class="ui fluid button blue" href="/register/">Create an Account</a>
        </div>

    </div>
{% endblock %}
{% block scripts %}
<script>
    window.addEventListener('load', function () {
        $loginMessages = $('#login-messages');
    });

    function HandleLoginAttempt(response, status){
        if(status === 200){
            window.location = '/';
        }else if(status === 401){  //login failed
            $loginMessages.html(Message.getHTML('Error', 'Invalid email or password', 'negative'));
        }
    }
</script>
{% endblock %}