body{
    background: whitesmoke !important;
}


#resume-frame{
    width: 100%;
    border: none;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
}


#resume-edit-panel{
    margin: 0 auto;
    position: fixed;
    bottom:0;
    width: 100%;
    height: 320px;
    background-color: #222;
    border: 1px solid #555;
    box-shadow: 2px -2px 5px rgba(0,0,0,0.3);
    transform: translateY(300px);
    transition-duration: 0.3s;
    transition-property: transform;
    padding-top: 20px;
}

#resume-edit-panel.visible{
    transform: translateY(0);
}

.edit-textbox{
    width: 100%;
    height: 270px;
    font-family: monospace;
    resize: none;
    color: #ccc;
    padding: 10px;
    background-color: transparent;
    border: none;
    overflow-y: scroll;
    white-space: pre-wrap;
}

.edit-textbox:focus{
    outline: none !important;
}

.editor-top-bar{
    width: 100%;
    height: 20px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.editor-title{
    float: left;
    width: 50%;
    height: 20px;
}

.editor-bar-right{
    float:right;
    height: 20px;
}

.editor-top-bar .button{
    height: 20px !important;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fefefe !important;
    padding: 1px 4px;
    font-size: 12px;
}

.editor-top-bar .button:hover{
    background-color: rgba(255,255,255, 0.05);
}

#resume-edit-panel .tab-area{

}

#resume-edit-panel .tabular.menu .item{
    border-radius: 0 !important;
    background-color: transparent !important;
    padding: 0px 10px !important;
    border: 1px solid transparent;
    color: #bbb

}

#resume-edit-panel .tabular.menu .item:hover{
    background-color: rgba(255,255,255,0.05);
}

#resume-edit-panel .tabular.menu .item.active{
    background-color: rgba(255,255,255,0.05);
    border-left: 1px solid #333 !important;
    border-right: 1px solid #333 !important;
    border-top: 1px solid #333 !important;
    border-bottom: 1px solid #222 !important;
}

*:not(.circular){
    border-radius: 0 !important;
}

#editor-save-button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    background-color: transparent;
    border: 1px solid #333;
    color: #ccc;

}






#resume{
    background-color: white;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
    width: 100%;
    min-height: 600px;
}

.clickable{
    cursor: pointer;
}

.ui.styled.accordion .title{
    color: #222 !important;
}

i.add:hover{
    color: red;
}

.display-none{
    display: none !important;
    height: 0 !important;
    overflow: hidden !important;
}