@media print{
    #resume{
        position: fixed;
        width: 100vw;
        left: 0;
        top: 0;
        background-color: white;
        box-shadow: none;
    }

    #sidepanel, #navbar{
        display: none;
    }
}

.rs-top{
    min-height: 200px;
    text-align: center;
    padding: 30px;
    font-size: 2em;
    font-family: serif;
    line-height: 1.5em;
}

.rs-top [data-name=fullname]{
    font-size: 2em;
}

.rs-field{
    min-height: 100px;
}

.rs-item{
    padding: 2px;
    cursor: pointer;
    position: relative;
}

.rs-sidepanel .rs-item{
    padding: 5px 15px;
}

.rs-sidepanel .rs-item:hover{
    background-color: rgba(0,0,0, 0.1);
}


.item-ghost{
    padding: 5px;
    border: 2px dashed #ddd;
}

.content.rs-sidepanel{
    padding: 5px 0 !important;
}

.rs-field.education{
    font-size: 1.1em;
}

.education .school{
    font-weight: 100;
    color: red;
}

.education .degree{
    font-weight: bold;
    font-size: larger;
}


.education .date{
    font-style: italic;

}

#resume{
    position: relative;
    padding: 30px;
    max-width: 1200px;
}

.highlight{
    background-color: #fffc89 !important;
}

.iframe-widget{
    border: 2px dotted #ddd;
    width: 100%;
    display: block;
    resize: both;
    overflow: auto;
    max-width: 100%;
    position: relative;
}