
<div class="ui grid container" style="height: 1500px;">
    <div class="row">
        <div class="sixteen wide column">
            <div class="rs-top rs-field">

            </div>
        </div>

    </div>
    <div class="eight wide column" style="border-right: 1px solid #ddd; height: 100%;">
        <h1>Education</h1>
        <div class="rs-field education" data-template="education">

        </div>
    </div>
    <div class="eight wide column">
        <h1>Skills</h1>
        <div class="rs-field">

        </div>
    </div>
</div>

<script>
    var Template = {
        education:function(obj){
            console.log(obj);
            return `
                <span class='school'>${obj.data.school}</span>
                <br>
                <span class='degree'>${obj.data.degree}</span>
                <br>
                <span class='date'>${obj.data.date}</span>
            `;
        }
    }
</script>