{% extends 'base.html' %}

{% block content %}

<div class="ui container" style="width: 1200px">
    <div class="ui segment" style="margin: 10px;">
        <button class="ui button blue" onclick="CreateNewResume()">NEW RESUME</button>


    </div>

    <div class="resume-preview-container">
        {% for resume in resumes %}
            <div class="resume-preview clickable">
                <iframe class="preview" src="/r/{{ resume.sharelink }}"></iframe>
                <div class="cover"  onclick="window.location = '/resumes/{{ resume.id }}/'"></div>
            </div>
        {% endfor %}
    </div>


</div>

{% endblock %}

{% block scripts %}
<script src="/static/js/resume.js"></script>
<script>

    window.addEventListener('load', function(){

    });

    function CreateNewResume(){
        Resume.createNewResume('Default Name', function(resume){
            if ('id' in resume){
                window.location = '/resumes/' + resume.id + '/';
            }
        })
    }

</script>
{% endblock %}