<head>
    <link rel="stylesheet" href="/static/css/semantic.min.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <link rel="stylesheet" href="/static/css/resume.css">
</head>
<body style="background-color: white !important;">


    <div id="resume" style="box-shadow: none; max-width: 1200px; margin: 0 auto"></div>

</body>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/semantic.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/resume.js"></script>
    <script>
        window.addEventListener('load', function () {
            LoadResume();
        });

        function LoadResume(){
            Resume.fetchResume('{{ resume.id }}', function (resume) {
                Resume.getObject(resume.layout, function (layout) {
                    console.log(layout);
                    $('#resume').html(layout.data.text);

                });
            });
        }

    </script>

