{% extends 'base.html' %}

{% block styles %}
    <style id="styles">

    </style>
{% endblock %}

{% block content %}

    <div class="ui padded grid">
        <div class='four wide column'>
            <div class="ui input fluid">
                <input class="" id="resume-name" value="" style="; font-size: 2em !important; padding: 2px;">
            </div>
            <div class="ui buttons fluid" style="margin-bottom: 10px;">
                <button class="ui button green" onclick="SaveResume()">SAVE</button>
                <button class="ui button red" onclick="ArchiveResume()">ARCHIVE</button>
            </div>
            <div class="ui styled accordion" style="width: 100%">
                <div class="title">
                    <i class="icon dropdown" ></i>
                    Basics
                    <i class="icon add" style="float: right;" onclick="Sidepanel.Basics.showModal(event)"></i>
                </div>
                <div id="sidepanel-basics" class="content rs-sidepanel">

                </div>
    {# EDUCATION #}
                <div class="title">
                    <i class="icon dropdown" ></i>
                    Education
                    <i class="icon add" style="float: right;" onclick="Sidepanel.Education.showModal(event)"></i>
                </div>

                <div id="sidepanel-education" class="content rs-sidepanel">
                    <div class="rs-item">No Education</div>
                </div>
    {# EXPERIENCE #}
                <div class="title">
                    <i class="icon dropdown" ></i>
                    Experience
                    <i class="icon add" style="float: right;" onclick="Sidepanel.Experience.showModal(event)"></i>
                </div>

                <div id="sidepanel-experience" class="content rs-sidepanel">
                    <div class="rs-item">No Experience</div>
                </div>
 {# SKILLS #}
                <div class="title">
                    <i class="icon dropdown" ></i>
                    Skills
                    <i class="icon add" style="float: right;" onclick="Sidepanel.Skills.showModal(event)"></i>
                </div>
                <div id="sidepanel-skills" class="content rs-sidepanel">
                    <div class="rs-item">No Skills</div>
                </div>
 {# LAYOUTS #}
                <div class="title">
                    <i class="icon dropdown" ></i>
                    Layout
                    <i class="icon add" style="float: right;" onclick="Sidepanel.Layouts.showModal(event)"></i>
                </div>
                <div class="content ">
                    <div id="sidepanel-layouts" class="ui selection list rs-sidepanel">

                    </div>

                </div>
                <div class="title">
                    <i class="icon dropdown" ></i>
                    Theme
                    <i class="icon add" style="float: right;" onclick="Sidepanel.Themes.showModal(event)"></i>
                </div>
                <div class="content">
                    <div id="sidepanel-themes" class="ui selection list rs-sidepanel">

                    </div>
                </div>
                <div class="title">
                    <i class="icon dropdown" ></i>
                    Scripts
                    <i class="icon add" style="float: right;"></i>
                </div>
                <div id="sidepanel-scripts" class="content">

                </div>

            </div>
            <div class="draggable-trash" style="min-height: 60px; text-align: center; display: flex; justify-content: center; align-items: center">
                <i class="huge icon trash">

                </i><br>
            </div>
        </div>
        <div class='twelve wide column'>


            <div id="resume">



            </div>
        </div>

    </div>

    <div id="mini-modal" class="ui mini modal">

    </div>


{% endblock %}

{% block scripts %}
    <script src="/static/js/sortable.min.js"></script>
    <script src="/static/js/resume.js"></script>
    <script src="/static/js/sidepanel.js"></script>
    <script>

        window.addEventListener('beforeunload', function () {
            if (CurrentResume.edited) event.returnValue = "Are you sure you want to leave?  YOu have unsaved changes.";
        });

        window.addEventListener('load', function () {
            $('.tabular.menu .item').tab();

            $('.accordion').accordion({exclusive:false,animateChildren:false});

            LoadResume();
            Sidepanel.refreshAll();



            $.each($('.draggable-trash'), function (i,e){
                Sortable.create(e, {
                    group:'rs',
                    onAdd:function (event) {
                        let item = event.item;
                        if(item.classList.contains('rs-sidepanel-item')){

                            let objectType = item.meta.type;
                            if(item.classList.contains('active')){
                                Modal.display('Error', `You can't delete an active ${objectType}`, '<button class="ui button" onclick="Modal.destroy()">OK</button>');

                            }else{
                                let buttons = `
                                    <button class='ui button' onclick="Modal.destroy()">CANCEL</button>
                                    <button class='ui negative button' onclick='Resume.deleteObject(${item.meta.id}, Sidepanel.refreshAll)'>DELETE</button>
                                `;
                                Modal.display('Confirm Delete?', `Are you sure you want to delete "${item.innerHTML}"?`, buttons);
                            }
                        }
                        event.item.parentNode.removeChild(event.item);
                    }
                })
            });




        });

        function MakeResumeDraggable(){
            $.each($('.rs-field'), function (i, e) {
                Sortable.create(e, {
                    group: "rs",
                    ghostClass:'item-ghost',
                    animation:150,
                    onAdd:function (event) {
                        CurrentResume.edited = true;
                        let object = event.item;
                        object.classList.remove('rs-sidepanel-item');
                        let template = e.getAttribute('data-template');
                        console.log(template);
                        if(template){
                            try{
                                console.log(object.meta);
                                let html = Template[template](object.meta);
                                console.log(html);
                                object.innerHTML = html;
                            }catch (e){
                                console.error(e);
                            }

                        }
                    },
                    onRemove:function(event){
                        CurrentResume.edited = true;
                    }
                });
            });
        }
        CurrentResume = {};
        function LoadResume(){
            Resume.fetchResume('{{ resume.id }}', function (resume) {
                CurrentResume = resume;
                $('#resume-name').val(resume.name);
                console.log(resume.layout);
                Resume.getObject(resume.layout, function (layout) {
                    $('#resume').html(layout.data.text);
                    MakeResumeDraggable();
                });
                Resume.getObject(resume.theme, function (theme) {
                    $('#styles').html(theme.data.text);
                });




            });
        }

    function SaveResume() {
        let name = $('#resume-name').val();

        let markup = $('#resume').html();
        console.log(CurrentResume.layout);
        Resume.saveResume(
            '{{ resume.id }}',
            {
                layout_id:CurrentResume.layout,
                theme_id:CurrentResume.theme,
                script_id:CurrentResume.script,
                name:name
            },
            function (o) {
                CurrentResume.edited = false;
            }
        );
        Resume.setObject(CurrentResume.layout, {text:markup}, function (o) {
            console.log('Update Object', o);
        });
    }

    var Modal = {
        node:$('#mini-modal').modal(),
        display:function(header, content, buttons){
            let html = `
                <div class="header">${header}</div>
                <div class="content">
                    ${content}
                </div>
                <div class="actions">
                    ${buttons}
                </div>

            `;
            Modal.node.html(html);
            Modal.node.modal('show');
        },
        destroy:function () {
            Modal.node.modal('hide');
            Modal.node.html('');

        }
    }
    </script>
{% endblock %}